spec.include="spec_china_base.cfg"
spec.include="base_bbsp_spec_encrypt.cfg"
spec.include="base_bbsp_spec_encrypt_key.cfg"
spec.name = "SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name="SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_FRAME" spec.type="string" spec.value="frame_AP"
spec.name="SSMP_SPEC_WEB_LANGUAGE_SET" spec.type="string" spec.value="chinese"
spec.name="SSMP_SPEC_WEB_MENUXML" spec.type="string" spec.value="MenuChinaCMCCRT.xml"
spec.name="SSMP_SPEC_WEB_LANGUAGE" spec.type="string" spec.value="chinese"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="SPEC_AP_HOSTING_CERT_PATH" spec.type="string" spec.value="/etc/wap/ap_hosting_cert/"
spec.name="SPEC_AP_MUL_SRV_NATIVE_VLAN" spec.type="uint" spec.value="4094"
#连接数量规格
spec.name = "BBSP_SPEC_FWD_SESSIONNUM" spec.type="uint" spec.value="16000"
spec.name = "BBSP_SPEC_USR_CFG_ROUTE_MAXNUM" spec.type="uint" spec.value="1500"
spec.name="BBSP_SPEC_DNS_DOMAINNAME" spec.type="string" spec.value="cmcc.wifi"
spec.name = "BBSP_SPEC_RIP_RATE" spec.type="uint" spec.value="40"
spec.name = "BBSP_SPEC_RIP_ROUTENUM" spec.type="uint" spec.value="128"
spec.name="SSMP_SPEC_PLUGIN_APILIST" spec.type="string" spec.value="plugin_api"
spec.name="OSGI_SPEC_SYSBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_sys"

spec.name="OSGI_SPEC_SECURITY_CFG" spec.type="string" spec.value="/etc/wap/customize/cpa.txt"

spec.name="BBSP_SPEC_IP_FPM_STAS_NUM" spec.type="uint" spec.value="0"
spec.name="OSGI_SPEC_FORBID_PREBUNDLE_LIST" spec.type="string" spec.value="/etc/wap/customize/plugin_pre"
spec.name="SSMP_SPEC_DM_TIMEFORRESETCFG" spec.type="uint" spec.value="2"
spec.name="BBSP_SPEC_IFM_WANNUM" spec.type="uint" spec.value="7"

spec.name="SSMP_SPEC_WEB_NO_AUTH_PAGE" spec.type="string" spec.value="GetGuideConnectTimeoutRet.asp;GetHilinkStates.asp;GetApMode.asp;setupmode.cgi;portalcreatbatch.cgi;opensfnotice.asp;opensoftware.js;getwpsstates.asp;getwifiUPLinkstates.asp;getupneighbourAPinfo.asp;GetUpLinkStateResult.asp;DetectedDailTypeResult.asp;PortalCheckUplink.asp;PortalLanFinish.asp;PortalSetWiFiPwd.asp;PortalSetPWD.asp;portalguideconfig.cgi;portalguide.asp;util.js;PortalUPPort.asp;PortalFinish.asp;PortalInternetStatus.asp;bootstrap.min.js;bootstrap.js;md5.js;RndSecurityFormat.js;mm.cgi;ssmpdes.js;jquery.min.js;httpsdirect.asp;GetRandCount.asp;getRandString.asp;safelogin.js;updatePopWindow.asp;urlPopWindow.asp;updateConfig.asp;agreePopUpgrade.cgi;refusePopUpgrade.cgi;remindPopUpgrade.cgi;updateNote.asp;ajaxconfig.js;getajax.cgi;marketRedirect.asp;WEB_WindowsPopTracerSet;WebWdPopCancel;CheckNormalPwdNotLogin.asp;CheckAdminPwdNotLogin.asp;MdfPwdNormalNoLg.cgi;MdfPwdAdminNoLg.cgi;GetCheckCodeResult.asp;GetGuideStopStatus.asp"
spec.name="SSMP_SPEC_WEB_NO_AUTH_PAGE_EX" spec.type="string" spec.value="loadCssLanguage.js;changeLanguage.cgi;GetApUpMode.asp;PortalSetNce.asp;preguide.asp;guidenert.asp;guidenert.asp;guidecheck.asp;guidmodelist.asp;guidsetPwd.asp;guidstatic.asp;portalguideconfig.cgi;guidefinish.asp;guidewlanpage.asp;wan_wizard_repeater_detecting_result.asp;getRebootStatus.asp;GetTransmitPower.asp;GetPortalStaus.asp;PortalSetLanPwd.asp"

#通用定制，密码强度提升
spec.name="SPEC_SSMP_CHKPWD_LENGTH" spec.type="uint" spec.value="8"

spec.name="BBSP_SPEC_SOFT_MACFILTER" spec.type="uint" spec.value="1"
spec.name="SPEC_LAN_MAC_FILTER_NUM" spec.type="uint" spec.value="32"

#andlink插件依赖路径
spec.name="PLUGIN_SPEC_GET_IP_TIMEOUT" spec.type="uint" spec.value="300"
spec.name="PLUGIN_SPEC_GET_IP_INTERVAL" spec.type="uint" spec.value="10"
spec.name="SPEC_CMCC_PRODUCT_TOKEN" spec.type="string" spec.value="1ImttzrB9t3aShra"

#AP定制信息 1 电信；2 联通；3 移动
spec.name="SPEC_CUSTOMIZE_ID" spec.type="uint" spec.value="3"
