spec.include="spec_ture_encrypt.cfg"

spec.name = "SSMP_SPEC_CLI_USERGRP" spec.type="uint" spec.value="0x00004000"
spec.name = "SSMP_SPEC_CLI_REMOTETELNET" spec.type="uint" spec.value="1"
spec.name = "SSMP_SPEC_CLI_REDLINEVERSION" spec.type="uint" spec.value="1"
spec.name="SSMP_SPEC_WEB_PWDENCRYPT" spec.type="uint" spec.value="3"
spec.name="SSMP_SPEC_CWMP_PATH" spec.type="string" spec.value="/tr069"
spec.name="SSMP_SPEC_CWMP_HTTPSERVERPORTID" spec.type="uint" spec.value="9090"
spec.name="SSMP_SPEC_WEB_CLEANOUTOFOPT" spec.type="uint" spec.value="1800"
spec.name="SSMP_SPEC_WEB_OUTPORTNUM" spec.type="uint" spec.value="443"
spec.name="SSMP_SPEC_WEB_LOGIN_INTERVAL" spec.type="uint" spec.value="1800"
spec.name = "SSMP_SPEC_WEB_NO_AUTH_PAGE" spec.type="string" spec.value="util.js;bootstrap.min.js;bootstrap.js;md5.js;RndSecurityFormat.js;mm.cgi;ssmpdes.js;jquery.min.js;httpsdirect.asp;GetRandCount.asp;getRandString.asp;safelogin.js;updatePopWindow.asp;urlPopWindow.asp;updateConfig.asp;agreePopUpgrade.cgi;refusePopUpgrade.cgi;remindPopUpgrade.cgi;updateNote.asp;ajaxconfig.js;getajax.cgi;marketRedirect.asp;WEB_WindowsPopTracerSet;WebWdPopCancel;CheckPwdNotLogin.asp;CheckNormalPwdNotLogin.asp;CheckAdminPwdNotLogin.asp;MdfPwdNormalNoLg.cgi;MdfPwdAdminNoLg.cgi;getUserCustomizeInfo.asp"

spec.name = "BBSP_SPEC_DNS_DOMAINNAME" spec.type="string" spec.value=""
spec.name = "BBSP_SPEC_LAN_DHCPADDMIN" spec.type="string" spec.value=""
spec.name = "BBSP_SPEC_LAN_DHCPADDMAX" spec.type="string" spec.value=""
spec.name = "SSMP_SPEC_WEB_MENUXML"  spec.type="string" spec.value="MenuSmartAbroadTrue.xml"
spec.name="SSMP_SPEC_WEB_FRAME" spec.type="string" spec.value="frame_true"
spec.name="SPEC_DATA_MODEL_MAP" spec.type="string" spec.value="/etc/wap/tr069_view/DataView_tr069_truerg.bin"
spec.name="SPEC_SSL_ENABLE_DEPCIPHER" spec.type="uint" spec.value="1"
spec.name="SPEC_PLUGIN_PRESET" spec.type="string" spec.value="/etc/wap/smart_plugin_preset_truerg.ini"

#EAI加速是否默认开启（从低BIT位往高依次为总开关、游戏加速、教育加速、办公加速、ping加速、视频加速）
spec.name = "EAI_SERVICE_DEFAULT_STATUS" spec.type="uint" spec.value="0"
